@for $i from 1 through 20 {
	.w-rem-#{$i} {
		width: 	#{$i}rem !important;
	}
	.h-rem-#{$i} {
		height: #{$i}rem !important;
	}
}

.fill-body {	
	fill: $body-bg;
}

.modal-bg {
	background: rgba($dark, .8);
	
}